{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!--ltf.suensir.idv.hk-->
	<title>DoctorMain</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{% static 'waitlist/script.js' %}"></script>
	<link rel="stylesheet" type="text/css" href='{% static "waitlist/DoctorStyle.css" %}'/>
  <style>
    body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #1abc9c;
  }
  h3{
    font-weight: bold;
  }
  </style>
</head>


<body>
<!-- Nurse and doctor main page -->
<div data-role="page" id="DoctorMain">


<!--Enter info Area-->
<div class="jumbotron text-center">
  <img src="Impatient.png" class="rounded mx-auto d-block" alt="Logo" width="110" height="40">
  <b><h2>Doctor Waitlist Page</h2></b>
  <h3>New patient</h3>

  <label for="id"><b>ID:</b></label>
      <label for="textinput-hide" class="ui-hidden-accessible"></label>
      <input type="text" name="textinput-hide" id="id" placeholder="Identiication" value=""><br/>

  <label for="tel"><b>Tel:</b></label>
      <label for="textinput-hide" class="ui-hidden-accessible"></label>
      <input type="text" name="textinput-hide" id="phoneNumber" placeholder="Telephone" value=""><br/>

      <div class="form-group">
      <label for="priority"><b>Priority:</b></label>
      <select id="priority-select" name="priority">
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
      </select>

       <button type="button" id="submit" class="btn btn-success">Submit</button>
     </div>
</div>

<!--Column-->
<div class="row">
    <div class="col-sm-4" style="background-color:pink;">
      <div class="ui-block-a"><b>High Priority</b>
      <div>
        {% for high in patient_high %}
          <div class="patient">
            <button class="patient_button">{{high.patientID}}</button>
            <div class="dropdown-content">
              <a href = "" onclick= "dequeue({{high.phoneNumber}})">Delete</a>
              <a href="">Change to Low Priority</a>
              <a href="">Change to Medium Priority</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>
    <div class="col-sm-4" style="background-color:lightyellow;">
      div class="ui-block-b"><b>Medium Priority</b>
    <div>
      {% for medium in patient_medium %}
         <div class="patient">
           <button class="patient_button">{{medium.patientID}}</button>
           <div class="dropdown-content">
             <a href = "" onclick= "dequeue({{medium.phoneNumber}})">Delete</a>
             <a href="">Change to Medium Priority</a>
             <a href="">Change to High Priority</a>
           </div>
         </div>
       {% endfor %}
     </div>
    </div>
    <div class="col-sm-4" style="background-color:lightgreen;">
      <div class="ui-block-c"><b>Low Priority</b>
     <div>
       {% for low in patient_low %}
         <div class="patient">
           <button class="patient_button">{{low.patientID}}</button>
           <div class="dropdown-content">
             <a href = "" onclick= "dequeue({{low.phoneNumber}})">Delete</a>
             <a href="">Change to High Priority</a>
             <a href="">Change to Medium Priority</a>
           </div>
         </div>
       {% endfor %}
     </div>
   </div>
    </div>
  </div>



 	 <!-- New Patient -->
	<div class="row">
		<div class="col-md-6 col-xs-12">


	</div>
	</div>
</div>
</body>
</html>