{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<link rel = "stylesheet" type = "text/css" href = "{% static 'waitlist/homeStyle.css' %}"> </style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
		<script src="{% static 'waitlist/script.js' %}"></script>
			<title>Just Come !!!!</title>
	</head>
	<body>
		<body>
	<h1>Just Coming Center!!!</h1>
	<h3>Phone no. <input id="phone" type="text"></h3>
	<h3>Priority <input id="priority" type="text"></h3>
	<center><input id="submit" type="submit" value="Submit"><br>
		<input id="next" type="submit" value= "Next">
	</center>
		<div>
			{% for low in patient_low %}
				<div class="patient">
					<button class="dropbtn">{{low.patientID}}</button>
					<div class="dropdown-content">
						<a href="/">Dequeue</a>
					</div>
				</div>
			{% endfor %}
		</div> <br>
		<div>
			{% for medium in patient_medium %}
				<button>{{medium.patientID}}</button>
			{% endfor %}
		</div>
		<div> <br>
			{% for high in patient_high %}
				<button>{{high.patientID}}</button>
			{% endfor %}
		</div>
		<div></div>
		<div></div>
	</body>
</html>
